@use '../../../../assets/styles/variables.scss' as *;

.ourBlog {
  display: flex;

  & .sectionWrapper {
    flex-wrap: wrap;
    padding: 120px 0;
  }

  & .infoBlock {
    text-align: center;
  }

  .dark-theme & {
    background-color: $main-dark-bcg;
  }

  & .card {
    display: flex;
    padding: 25px;
    width: 570px;
    height: 295px;

    .dark-theme & {
      background-color: $main-dark-view-2;
    }

    &-left {
      display: flex;
      flex-wrap: wrap;
      text-align: left;
    }

    &-text {
      width: 310px;
    }

    &-user {
      display: flex;
      align-items: center;
    }

    &-photo {
      width: 80px;
      height: 80px;
      margin-right: 10px;
    }

    &-picture {
      width: 165px;
      height: 165px;
    }
  }
}

@media screen and (max-device-width: 400px) {
  .ourBlog {
    & .sectionWrapper {
      padding: 50px 0;
    }

    & .card {
      display: flex;
      padding: 25px;
      width: 90%;
      height: 295px;


      &-left {
      }

      &-text {
        width: 170px;
      }

      &-user {
      }

      &-photo {
        width: 40px;
        height: 40px;
      }

      &-picture {
        width: 80px;
        height: 80px;
      }
    }
  }
}
