@use '../../../../assets/styles/variables.scss' as *;

.ourWork {
  padding-bottom: 120px;
  text-align: center;

  .sectionWrapper {
    flex-wrap: wrap;
  }

  .dark-theme & {
    background-color: $main-dark-bcg;
  }

  & .tabWrapper {
    width: 100%;
    margin: 0 auto;

    & .list {
      display: flex;
      justify-content: center;
      margin-bottom: 60px;

      &-item {
        margin-right: 45px;
        cursor: pointer;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    & .tabPanel {
      display: flex;
      justify-content: center;

      & .worksContainer {
        width: 1170px;
        display: flex;
        flex-wrap: wrap;
        height: 900px;
        flex-direction: column;
        align-content: center;
        justify-content: center;

        :nth-child(odd) {
          margin-bottom: 30px;
        }

        :nth-child(even) {
          height: 470px;
        }

        :nth-child(3) {
          height: 470px;
        }

        :nth-child(4) {
          height: 370px;
        }

        :nth-last-child(-n + 2) {
          margin-right: 0;
        }

        &-img {
          position: relative;
          background-repeat: no-repeat;
          width: 370px;
          height: 370px;
          background-size: cover;
          margin-right: 30px;

          &:before {
            position: absolute;
            content: '';
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            opacity: 0;
            background-color: rgba(0, 0, 0, 0.8);
            pointer-events: none;
            transition: opacity 0.3s;
          }

          &:hover:before {
            opacity: 1;
          }
        }
      }
    }
  }
}

@media screen and (max-device-width: 400px) {
  .ourWork {
    padding-bottom: 50px;

    & .tabWrapper {
      & .list {
        margin-bottom: 50px;

        &-item {
          margin-right: 20px;

          &:last-child {
            margin-right: 0;
          }
        }
      }

      & .tabPanel {
        width: 100%;
        justify-content: center;

        & .worksContainer {
          width: 100%;
          height: auto;
          flex-direction: unset;

          :nth-child(even) {
            height: 470px;
          }

          :nth-child(odd) {
            height: 370px;
          }

          &-img {
            margin-right: 0;
            margin-bottom: 25px;
          }
        }
      }
    }
  }
}
