@use '../../../../assets/styles/variables.scss' as *;

.ourWork {
  padding-bottom: 120px;
  text-align: center;

  .sectionWrapper {
    flex-wrap: wrap;
  }

  .dark-theme & {
    background-color: $main-dark-bcg;
  }

  & .tabWrapper {
    width: 100%;
    margin: 0 auto;

    & .list {
      display: flex;
      justify-content: center;
      margin-bottom: 60px;

      &-item {
        margin-right: 45px;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    & .tabPanel {
      display: flex;

      & .worksContainer {
        &-imgs {
          width: 370px;
          margin-right: 30px;
  
          &:last-child {
            margin-right: 0;
          }
        }
  
        &-img {
          width: 100%;
        }
      }
    }
  }
}
