@use '../../../../assets/styles/variables.scss' as *;

.ourWork {
  padding-bottom: 120px;
  text-align: center;

  .sectionWrapper {
    flex-wrap: wrap;
  }

  .dark-theme & {
    background-color: $main-dark-bcg;
  }

  & .tabWrapper {
    width: 100%;
    margin: 0 auto;

    & .list {
      display: flex;
      justify-content: center;
      margin-bottom: 60px;

      &-item {
        margin-right: 45px;
        cursor: pointer;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    & .tabPanel {
      display: flex;
      justify-content: center;

      & .worksContainer {
        width: 1170px;
        display: flex;
        flex-wrap: wrap;
        height: 900px;
        flex-direction: column;

        :nth-child(odd) {
          margin-bottom: 30px;
        }

        :nth-child(even) {
          height: 470px;
        }

        :nth-child(3) {
          height: 470px;
        }

        :nth-child(4) {
          height: 370px;
        }

        :nth-last-child(-n + 2) {
          margin-right: 0;
        }

        &-img {
          background-repeat: no-repeat;
          width: 370px;
          height: 370px;
          background-size: cover;
          margin-right: 30px;
        }
      }
    }
  }
}
