@use '../../../../assets/styles/variables.scss' as *;

.teamMember {
  padding: 120px 0;
  text-align: center;

  .sectionWrapper {
    flex-wrap: wrap;
  }

  .dark-theme & {
    background-color: $main-dark-bcg;
  }

  & .spinner {
    padding-top: 80px;
  }

  & .card {
    margin-right: 30px;
    overflow: hidden;
    background: $main-white;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);

    &:last-child {
      margin-right: 0;
    }

    &-social {
      transform: translateX(50px);
      transition: transform 0.5s;
      position: absolute;
      right: 0;
      top: 13%;
    }

    &-top {
      position: relative;
      height: 250px;
      width: 270px;
      background-repeat: no-repeat;
      background-size: cover;
    }

    &-footer {
      height: 100px;
      &-name {
        margin-bottom: 10px;
        padding-top: 25px;
      }

      &-prof {
        margin-bottom: 15px;
      }
    }

    .dark-theme & {
      background-color: $main-dark-view-1;
    }

    &:hover &-social {
      transform: translateX(0);
    }
  }

  & .bottomContainer {
    display: flex;
  }
}

.card {
  &:hover &-social {
    transform: translateX(0);
  }
}

@media screen and (max-device-width: 400px) {
  .teamMember {
    padding: 50px 0;

    & .card {
      margin-right: 0;
      margin-bottom: 25px;

      &:last-child {
        margin-bottom: 0;
      }

      &-footer {
        &-name {
          font-size: 20px;
          margin-bottom: 10px;
          padding-top: 25px;
        }

        &-prof {
          margin-bottom: 16px;
        }
      }
    }

    & .bottomContainer {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}
