@use '../../assets/styles/variables.scss' as colors;

.info-block {
    & h6, p {
        font-size: 16px;
        font-weight: 400;

        color: colors.$main-gray;;
    }

    &-title {
        margin-bottom: 25px;
    }

    &-highlighter {
        margin-bottom: 15px;
    }

    &-paragraph {
        margin-bottom: 50px;
    }
}