// as *
@use '../../assets/styles/variables.scss' as colors;

.infoBlock {
    width: 570px;

    &-title {
        margin-bottom: 25px;
    }

    &-highlighter {
        margin-bottom: 15px;
    }

    &-paragraph {
        margin-bottom: 50px;
    }

    &-title, &-paragraph {
        font-size: 16px;
        font-weight: 400;
        color: colors.$main-gray;
    }
}