// as *
@use '../../assets/styles/variables.scss' as colors;

.social-block {
  &.vertical {
    position: fixed;
    right: 0;
    width: 40px;
    display: flex;
    flex-wrap: wrap;
  }

  &.horizontal {
    position: fixed;
    right: 120px;
    display: flex;
  }

  &-icon {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    padding: 10px;
    margin-bottom: 5px;
    font-size: 25px;
    transition: color 0.5s, background-color 0.5s;
    background-color: colors.$main-white;
    color: colors.$main-orange;
    // Are you using rgba(255, 83, 0, 0.4) somewhere else? Can we move it to colors.scss as well?
    box-shadow: 4px 5px 15px rgba(255, 83, 0, 0.4);

    &:last-child {
      margin-bottom: 0;
    }

    &:hover {
      background-color: colors.$main-orange;
      color: colors.$main-white;
    }
  }
}
