@use '../../assets/styles/variables.scss' as *;

.blogPage {
  margin: auto;

   & .infoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    & .title {
      margin-bottom: 10px;
      font-weight: bold;
    }

    & .subtitle {
      margin-bottom: 30px;
    }


    & .spinner {
      animation-duration: 2s, 1s;
      animation-name: pulse, slide;
      animation-iteration-count: infinite, 1;
      animation-direction: alternate-reverse, normal;
      animation-delay: 1s, 0s;
      animation-fill-mode:backwards;
    }

    @keyframes pulse {
      from {
        scale: 1;
      }

      to {
        scale: 1.2;
      }
    }

    @keyframes slide {
      from {
        transform: translateX(260%);
        opacity: 0;
      }

      to {
        transform: translateX(0);
        opacity: 1;
      }
    }
   }

  .dark-theme & {
    background-color: $main-dark-bcg;
  }
}

.pageBetweener {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

@media screen and (max-device-width: 400px) {
  .blogPage {
    margin: 100px auto 60px auto;

    & .subtitle {
      margin-bottom: 50px;
    }
  }
}