@use '../../../../assets/styles/variables.scss' as *;

.aboutUs {
  background-color: $main-white;
  padding: 120px 0;

  &-info {
    transform: translateX(-30px);
  }

  .dark-theme & {
    background-color: $main-dark-bcg;
  }

  .sectionWrapper {
    flex-wrap: wrap;
  }
}

.topContainer {
  display: flex;
  margin-bottom: 60px;

  &-img {
    transform: translateX(-20px);
  }
}

.bottomContainer {
  display: flex;

  &-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 270px;
    text-align: center;
    margin-right: 30px;

    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);

    &:last-child {
      margin-right: 0;
    }

    &-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 70px;
      height: 70px;
      margin: 25px 100px 35px 100px;
      border-radius: 45px;
      padding: 20px;
      font-size: 25px;
      color: $main-white;

      &.orange {
        background-color: $main-orange;
      }

      &.gray {
        background-color: $main-gray;
      }

      &.blue {
        background-color: #00acff;
      }

      &.black {
        background-color: $main-black;
      }
    }

    &-text {
      margin: 0px 10% 20px 10%;
    }

    .dark-theme & {
      background-color: $main-dark-view-1;
    }
  }
}

@media screen and (max-device-width: 400px) {
  .aboutUs {
    padding: 50px 0;
    
    & .topContainer {
      flex-wrap: wrap;
      justify-content: center;
  
      &-img {
        width: 75%;
        margin-bottom: 50px;
        transform: translateX(0);
      }
    }

    &-info {
      transform: translateX(0);
    }
  
    & .bottomContainer {
      flex-wrap: wrap;
      justify-content: center;
  
      &-card {
        margin-bottom: 25px;
        margin-right: 0;
  
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
