@use '../../../../assets/styles/variables.scss' as *;

.heroSection {
  margin-top: 100px;
  height: 735px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: $main-orange-bcg;

  &-info {
    margin-right: 35px;
    width: 490px;
  }

  .dark-theme & {
    background-color: $main-dark-view-1;
  }
}
