@use '../../../../assets/styles/variables.scss' as *;

.heroSection {
  margin-top: 100px;
  height: 735px;
  display: flex;
  background: $main-orange-bcg;

  &-info {
    margin-right: 35px;
    width: 490px;
  }

  .dark-theme & {
    background-color: $main-dark-view-1;
  }
}

@media screen and (max-device-width: 400px) {
  .heroSection {
    margin-top: 50px;

    & .sectionWrapper {
      flex-wrap: wrap-reverse;
    }

    &-info {
      margin-right: 0;
      width: 280px;
    }

    &-img {
      width: 95%;
    }
  }
}