@use '../../assets/styles/variables.scss' as colors;

.navigation {
    display: flex;

    &.vertical {
        flex-wrap: wrap;
        width: 115px;
    }

    a {
        color: black;
        text-decoration: none;
    }
}

.navigation_item {

    &.vertical {
        margin-bottom: 10px;
    
        &:last-child {
          margin-bottom: 0;
        }
      }
    
      &.horizontal {
        margin-right: 40px;
    
        &:last-child {
          margin-right: 0;
        }
      }
}