@use '../../../../assets/styles/variables.scss' as *;

.map {
  .sectionWrapper {
    flex-wrap: wrap;
  }

  &-wrapper {
    height: auto;
    margin: 0 auto 120px auto;
    padding-top: 60px;
  }

  &-img {
    width: 100%;
  }

  .dark-theme & {
    background-color: $main-dark-bcg;
  }

  & .additional {
    display: flex;
    margin-bottom: 120px;

    &-img {
      margin-right: 120px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

@media screen and (max-device-width: 400px) {
  .map {
    &-wrapper {
      height: auto;
      margin-bottom: 50px;
      padding-top: 50px;
    }

    & .additional {
      margin-bottom: 50px;

      &-img {
        margin-right: 30px;
        height: 50px;
  
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}
