@use '../../assets/styles/variables.scss' as colors;

.our-blog {
  display: flex;

  &.main-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 1300px;
    margin: 120px auto;
  }
}

.blog-card {
  display: flex;
  padding: 25px;
  width: 570px;
  height: 295px;

  &-left {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
  }

  &-text {
    width: 310px;
  }

  &-user {
    display: flex;
    align-items: center;
  }

  &-photo {
    width: 80px;
    height: 80px;
    margin-right: 10px;
  }

  &-picture {
    width: 165px;
    height: 165px;
  }
}
