@use '../../assets/styles/variables.scss' as *;

.highlighter {
  &.h1 {
    font-size: 48px;
    font-weight: 700;
  }

  &.h2 {
    font-size: 39.06px;
    font-weight: 600;
  }

  &.black {
    color: $main-black;
  }

  &.orange {
    color: $main-orange;
  }

  &.white {
    color: $main-white;
  }
}


