@use '../../assets/styles/variables.scss' as colors;

.about-us {
    max-width: 1300px;
    background-color: colors.$main-white;
    margin: 0 auto 120px auto;
    
    &-block {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 auto;
    }

    &-top-block {
        display: flex;
        margin-bottom: 60px;
    }

    &-main-block {
        width: 570px;
    }

    &-bottom-block {
        display: flex;
        
        &-card {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            width: 270px;
            text-align: center;
            margin-right: 30px;

            box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);

            &:last-child {
                margin-right: 0;
            }

            &-button {
                margin: 25px 100px 35px 100px;
            }

            &-text {
                margin-bottom: 20px;
            }
        }
    }
}