@use '../../assets/styles/variables.scss' as colors;

.clients-feedback {
    height: 675px;

    background: colors.$main-orange-bcg;
  
    &-block {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      text-align: center;
      max-width: 1300px;
      margin: 0 auto;
    }

    &.dark-theme {
      background-color: colors.$main-dark-view-1;
    }
}