@use '../../assets/styles/variables.scss' as colors;

.clients-feedback {
  height: 675px;
  display: flex;
  background: colors.$main-orange-bcg;

  &.dark-theme {
    background-color: colors.$main-dark-view-1;
  }
}

.main-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 1300px;
  margin: 0 auto;
}

.review-card {
  position: relative;
  width: 470px;
  height: 250px;
  background-color: colors.$main-orange;

  &-photo {
    position: absolute;
    transform: translate(-275px, 20px);
    z-index: 1;
  }
}