@use './variables.scss' as *;
@import './icons.scss';

// HTML

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

// Body

body {
  font-family: 'Work Sans';
  width: 100%;
  margin: auto;
}

*div {
  box-sizing: border-box;
}

.sectionWrapper {
  max-width: 1300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}


@media screen and (min-device-width: 401px) and (max-device-width: 768px) {
  *h1 {
    font-size: 39.06px;
  }

  *h2 {
    font-size: 31.25px;
  }

  *h3 {
    font-size: 25px;
  }

  *h4 {
    font-size: 20px;
  }

  *h5 {
    font-size: 16px;
  }

  *h6 {
    font-size: 12px;
  }
}

@media screen and (max-device-width: 400px){
  body {
    width: 100%;
  }

  .sectionWrapper {
    max-width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  *h1 {
    font-size: 31.25px;
  }

  *h2 {
    font-size: 25px;
  }

  *h3 {
    font-size: 20px;
  }

  *h4 {
    font-size: 16px;
  }

  *h5 {
    font-size: 12px;
  }
}
