@use '../../assets/styles/variables.scss' as colors;

.hero-section {
  margin-top: 100px;
  height: 735px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  background: colors.$main-orange-bcg;

  &-main-block {
    width: 570px;
  }

  &.dark-theme {
    background-color: colors.$main-dark-view-1;
  }
}